#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	# Použijeme dh_auto_install, který volá make install s DESTDIR=$(CURDIR)/debian/tmp.
	# Náš Makefile 'install' cíl byl upraven tak, aby respektoval DESTDIR.
	dh_auto_install

override_dh_install:
	# dh_install se nyní postará o přesun souborů z debian/tmp do finální struktury balíčku.
	dh_install

override_dh_auto_clean:
	# Odstraní dočasné soubory vytvořené dh_auto_clean
	dh_auto_clean
	# A náš vlastní clean cíl
	make clean

override_dh_installinit:
	# Dh_installinit je potřeba pro systémové služby.
	# Používáme --no-start --no-enable, protože make install se již stará o povolení a spuštění služby.
	# V reálném .deb balíčku by se o to staraly skripty postinst/prerm.
	dh_installinit --name=session-tracker --no-start --no-enable
